{% set page_title = title %}
{% extends "base.html" %}
{% block style %}
    div#home{
        width: min(100% - 2rem, 600px);
        margin-inline: auto;
        margin-top: 1.5rem;
    }
    div#home button{
        display: block;
        width: 100%;
        height: 4rem;
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }
{% endblock style %}
{% block main %}
    <div id="home">
        <a href="/youtube.com/playlists"><button type="button" class="home-button button">Playlists</button></a>
        <a href="/youtube.com/subscriptions"><button type="button" class="home-button button">Subscriptions</button></a>
        <a href="/youtube.com/settings"><button type="button" class="home-button button">Settings</button></a>
    </div>
{% endblock main %}
