body{
    --text-color: #222222;
    --background-color: #f8f8f8;
    --border-color: #ffffff;
    --video-background-color: #ffffff;
    --link-color-rgb: 0, 0, 238;
    --button-color: #f0f0f0;
    --button-hover-color: #dcdcdc;
    --button-active-color: #e9e9e9;
    --input-focus-color: #e9e9e9;
}

.comment .permalink{
    color: #000000;
}

.setting-item{
    background-color: #f8f8f8;
}

.muted{
    background-color: #888888;
}
